.article-creation-page {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  background-color: var(--text-oncolor-default);

  padding: 36px 0 31px 0;
}

.article-creation-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1740px;
  gap: 35px;
}

.article-creation-header {
  display: flex;
  gap: 40px;
}

.creation-form {
  display: flex;
  flex-direction: column;
  gap: 35px;

  &__header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__header {
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: var(--primary-default);
    h1 {
      font: var(--text-header-3);
    }
    span {
      font: var(--text-description);
    }
  }

  &__main-area {
    display: flex;
    padding: 44px 75px 54px 75px;
    background-color: var(--white-background-default);
  }

  &__content-wrapper {
    display: flex;
    gap: 48px;
  }

  &__article-info-wrapper {
    display: flex;
    flex-direction: column;
    color: var(--primary-default);
    gap: 21px;
    & h2 {
      font: var(--text-header-4);
    }
  }
  &__article-info-area {
    display: flex;
    gap: 60px;
  }

  &__article-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-wrap: wrap;
    width: 400px;
  }

  &__input-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;

    &_error {
      color: var(--status-critical);
    }

    & p {
      font: var(--text-for-fields);
    }
  }

  &__image-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 8px;

    & h2 {
      color: var(--primary-default);
      font: var(--text-description);
    }
  }
  &__article-content-wrapper {
    display: flex;
    flex-direction: column;

    & h2 {
      font: var(--text-header-4);
    }
  }

  &__article-content-area {
    display: flex;
    flex-direction: column;
    gap: 6px;
    height: 100%;
  }

  &__article-content {
    width: 685px;
    height: 100%;
  }

  &__error-wrapper {
    max-width: 400px;
  }

  &__form-header-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__article-two-inputs-area {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__article-two-inputs-wrapper {
    width: 46%;
  }
}

.popup {
  position: fixed;
  top: calc(50vh - 113px);
  left: calc(50% - 219px);
  background-color: var(--text-oncolor-default);
  width: 438px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;

  &__subtitle-text {
    font: var(--text-header-2);
  }

  &_delete-type {
    gap: 11px;
    padding: 20px 0 36px 0;
    font: var(--text-header-4);
  }

  &_success-type {
    padding: 20px 0 57px 0;
    gap: 21px;
    font: var(--text-mobile-header-4);
  }

  &__main-area {
    display: flex;
    flex-direction: column;
    gap: 42px;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    text-align: center;
    &_creation-type {
      gap: 16px;
    }
  }

  &__buttons-area {
    display: flex;
    gap: 46px;
  }

  &__cross-area {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  &__cross {
    cursor: pointer;
  }
}

.popup-background {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
