/*body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--text-oncolor-default);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--background-subdued);
    border-radius: 20px;
    border: 2px solid var(--primary-default);
}*/

.excanations-wrapper {
  display: flex;
  padding-top: 96px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: var(--text-oncolor-default);
  min-height: 100vh;
  gap: 0;
  position: relative;

  &__top-panel-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.volunteering-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 170px;

  text-align: center;

  &__title {
    font: var(--text-header-1);
  }

  &__subtitle {
    font: var(--text-subtitle);
    margin-top: 18px;
  }

  &__table {
    display: flex;
    width: 73%;
    gap: 8%;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
    justify-content: center;

    &__element {
      display: flex;
      width: 370px;
      gap: 20px;
      flex-direction: column;
      align-items: start;
      text-align: start;


      &__title {
        font: var(--text-header-2);
      }

      &__text {
        font: var(--text-body-text);
      }
    }
  }
}

.excavations-info-wrapper {
  margin: 200px 120px 111px 98px;

  &__title {
    font: var(--text-header-1);
    margin-left: 92px;
  }

  &__text {
    font: var(--text-body-text);
    width: 27vw;
    margin-left: 92px;
    margin-top: 40px;
  }
}

.title-wrapper {
  margin-top: 137px;
  width: 90%;
  margin-left: 10%;
  background: url('../../images/skeletos.png') no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: start;

  &__subtitle-list {
    margin-top: 30px;
    margin-right: 63%;
  }

  &__subtitle {
    font: var(--text-subtitle);
  }

  &__title {
    font: var(--text-big-title);

    margin-right: 50%;
  }
}
.excanations-wrapper__top-panel-wrapper_mobile {
  display: none;
}
.mobile-br {
  display: none;
}

.archeology-wrapper-mobile {
  display: none;
}

.archeology-wrapper {
  background: url('../../images/archeologyBg.png') no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 73vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__text {
    font: var(--text-header-3);
    color: var(--text-oncolor-default);
    margin: 0 20%;
  }
}

.buttons-wrapper {
  margin: 80px 0 131px 0;
}

.questions-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 0;
  background-color: var(--background-subdued);
  width: 100%;
  margin-bottom: -1px;

  &__title {
    font: var(--text-header-1);
    color: var(--text-oncolor-default);
    margin-top: 130px;
  }

  &__questions-wrapper {
    margin-top: 45px;
    margin-bottom: 130px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__question {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;

      &__line {
        width: 100%;
        height: 2px;
        background-color: var(--background-default);
      }
    }
  }
}

/*.documents-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 0;
  width: 100%;
  margin-bottom: 150px;

  &__title {
    font: var(--text-header-1);
    color: var(--primary-default);
  }

  &__documents {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position: relative;
    gap: 24px;
    padding-left: 10%;
    width: 90%;
    margin-top: 48px;

    &__button {
      display: flex;
      align-items: center;
      flex-direction: row;
      position: relative;
      gap: 10px;
      font: var(--text-body-text);
      text-decoration: none;
      color: var(--text-default);
    }
  }
}
*/
/*display: flex;
background-color: transparent;
border: none;
padding: 0;
margin: 0 5px;
color: #444746;
text-decoration: none;
width: 100%;*/

@media screen and (max-width: 1500px) {
  .volunteering-wrapper {
    margin-bottom: 70px;

    &__title {
      width: 87vw;
      font: var(--text-mobile-header-2);
    }

    &__subtitle {
      display: flex;
      justify-content: start;
      width: 87vw;
      font: var(--text-mobile-text-body);
      margin-top: 18px;
    }

    &__table {
      flex-direction: column;
      gap: 40px;

      &__element {

        width: 87vw;

        &__title {
          font: var(--text-mobile-header-3);
        }

        &__text {
          font: var(--text-mobile-text-body);
        }

        &__img {

          width: 87vw;
        }
      }
    }

  }

  .big-number {
    font: var(--text-small-digit);
    min-width: 20px;
  }

  .title-wrapper {
    background: none;


    &__subtitle-list {
      margin-top: 25px;
      margin-right: 90px;
    }


    &__subtitle {
      font: var(--text-mobile-text-body);
    }

    &__title {
      font: var(--text-mobile-header-1);
      width: 100%;
      margin-right: 50%;
    }
  }

  .mobile-br {
    display: block;
  }

  .archeology-wrapper {
    display: none;
  }

  .buttons-wrapper {
    margin: 40px 0 48px 0;
  }

  .text-arc {
    display: none;
  }
  .excanations-wrapper__top-panel-wrapper_mobile {
  display: block;
  }
  .questions-wrapper {

    &__title {
      font: var(--text-mobile-header-2);
      width: 80%;
      text-align: center;
      margin-top: 60px;
    }

    &__questions-wrapper {
      margin-top: 30px;
      margin-bottom: 100px;
      width: 80%;
      gap: 30px;

      &__question {
        gap: 12px;
      }
    }
  }
.excanations-wrapper__top-panel-wrapper {
  display: none;
}
  .excavations-info-wrapper {
    margin: 70px 8px 70px 7px;

    .big-number {
      font: var(--text-small-digit);
      min-width: 20px;
    }

    &__title {
      font: var(--text-mobile-header-2);
      text-align: center;
      margin: 0 88px;
    }

    &__text {
      font: var(--text-mobile-text-body);
      width: 73vw;
      margin-top: 30px;
      margin-left: 22px;
      margin-bottom: 25px;
    }
  }
}