.burger-menu {
  position: relative;
  z-index: 1;
  &__open-button {
    position: relative;
    align-items: flex-start;
    display: flex;
    gap: 40px;
    z-index: 2;
  }
}

.burger-background {
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
  &_opened {
    display: block;
  }
}

.burger-popover {
  position: absolute;
  top: -40px;
  left: -20px;
  min-width: 264px;
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 160px 46px 37px 42px;
  border-radius: 0 0 15px 15px;
  pointer-events: none;
  opacity: 0;
  transform: translateX(-400px);

  background-color: var(--background-subdued);

  font: var(--text-body-text);
  transition: all 0.3s ease-in;

  &__link {
    padding: 11px 27px 10px 13px;
    color: var(--text-oncolor-default);
    transition: all 0.1s ease-in;
    box-sizing: border-box;
    width: 200px;
    border-radius: 15px;

    &:hover {
      font: var(--text-menu-hovered);
      border: 1px solid var(--text-oncolor-default);
    }
  }

  &_opened {
    pointer-events: all;
    opacity: 1;
    transform: translate(0, 0);
  }
}

.burger-top-panel {
  display: none;
  flex-direction: row;
  padding: 18px 25px 12px 20px;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;

  &__burger-icon {
    padding-top: 18px;
  }

  &__logo {
    padding-top: 11px;
  }
  &__search-wrapper {
    display: flex;
    align-items: center;
  }
}

.top-panel {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 1540px;
  border-radius: 100px;
  border-width: 1px;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
  box-sizing: border-box;
  position: relative;
  min-height: 76px;

  &_light {
    background-color: var(--oncolor-opactiy);
    backdrop-filter: blur(9px);
  }

  &__links-search-wrapper {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  &__border {
    position: absolute;
    box-sizing: border-box;
    width: calc(100% - 2px);
    left: 2px;
    height: 100%;
    border-radius: 100px;
    border: 2px solid;
    z-index: 0;
    &_dark {
      border-color: var(--primary-default);
    }
    &_light {
      border-color: var(--text-oncolor-default);
    }
  }

  &__logo {
    min-width: 246px;
    width: 246px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
  }
  &__links {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &__link {
    outline: none;
    background-color: inherit;
    font: var(--text-body-text);
    z-index: 1;
    &_light {
      color: var(--primary-default);
    }
    &_dark {
      color: var(--text-oncolor-default);
    }
  }
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 39.1%;
  min-width: 320px;
  max-width: 704px;

  & input {
    padding: 26px 0 26px 40px;
    border: 1px solid var(--text-oncolor-default);
    border-radius: 37px;
    width: 100%;
    height: 100%;
    outline: none;
    background-color: inherit;
    font: var(--text-body-text);
    color: var(--text-oncolor-default);

    &::placeholder {
      color: var(--text-oncolor-default);
    }

    &[type='search']::-webkit-search-cancel-button {
      display: none;
    }
  }
}

.burger-icon {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 44px;
  height: 30px;
  gap: 15px;
  z-index: 2;
  cursor: pointer;

  &__line {
    width: 100%;
    border: 1.6px solid var(--text-oncolor-default);
    transition: all 0.3s ease-in;
    transform-origin: center;
  }

  &__line_line1-transform {
    transform: translate(0, 16px) rotate(45deg);
  }

  &__line_line2-transform {
    transform: rotate(-45deg);
  }

  &__line_line3-transform {
    transform: scale(0);
  }
}

@media (max-width: 1260px) {
  .burger-top-panel {
    display: flex;
  }
  .top-panel {
    display: none;
  }
}

@media (max-width: 600px) {
  .burger-top-panel {
    &__logo {
      width: 76px;
      height: 24px;
      & svg {
        width: 100%;
        height: 100%;
      }
    }
    &__burger-icon {
      padding-top: 12px;
    }
  }
  .burger-menu {
    &__open-button {
      gap: 16px;
    }
  }
  .burger-icon {
    width: 20px;
    height: 13px;
    gap: 4px;
    &__line {
      border-width: 0.73px;
    }
    &__line_line1-transform {
      transform: translate(0, 6px) rotate(45deg);
    }
  }
  .burger-top-panel {
    &__lupa {
      width: 20px;
      height: 20px;
      & svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
