.tags-bar-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font: var(--text-body-text);
    color: var(--primary-default);
    padding: 26px 13px 50px 13px;
    border: 1px solid var(--border-accent-brown);
    border-radius: 15px;
    &__tag-container {
        padding: 9px 0 9px 12px;
        width: 203px;
        transition: all 0.3s ease;
        border-radius: 15px;
        cursor: pointer;
        &:hover {
            background-color: var(--background-hovered);
        }
    }
}

.tag {
    display: flex;
    gap: 12px;
    align-items: center;
    &_small-gap {
        gap: 8px;
    }
}
