.tags-bar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font: var(--text-body-text);
  color: var(--primary-default);
  padding: 26px 13px 50px 13px;
  border: 1px solid var(--border-accent-brown);
  border-radius: 15px;
  &__tag-container {
    padding: 9px 0 9px 12px;
    width: 203px;
    transition: all 0.3s ease;
    border-radius: 15px;
    cursor: pointer;
    &:hover {
      background-color: var(--background-hovered);
    }
    &_active {
      background-color: var(--background-hovered);
    }
  }
}

.tag {
  display: flex;
  gap: 12px;
  align-items: center;
  white-space: pre;

  &_small-article-gap {
    font: var(--text-for-tags);
    gap: 8px;
  }
  &_article-text {
    font: var(--text-for-tags);
  }
  &_text-small {
    font: var(--text-description);
  }
}

.tags-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 320px;

  &__tag-area {
    border-radius: 44px;
    transition: all 0.1s linear;
    padding: 8px 15px;
    color: var(--primary-default);
    &:hover {
      background-color: var(--background-hovered);
    }
    &_active {
      background-color: var(--background-hovered);
    }
  }

  &__list-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: var(--primary-default);
    font: var(--text-menu-hovered);
  }

  &__list-icon {
    cursor: pointer;
    z-index: 1;
    transform-origin: center;
    transform: rotate(180deg);
    transition: all 0.3s ease;

    &_opened {
      transform: rotate(0);
    }
  }

  &__tags {
    cursor: pointer;
    display: flex;
    align-items: flex-start;

    font: var(--text-description);
    transform-origin: top;
    transition: transform 0.2s ease-in;

    transform: translate(0, -30px) scale(1, 0);
    height: 0;
    opacity: 0;

    &_row {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 12px;
      row-gap: 10px;
    }
    &_column {
      flex-direction: column;
      gap: 10px;
    }

    &_opened {
      height: auto;
      opacity: 1;
      transform: translate(0, 0) scale(1, 1);
    }
  }
}
