.main-content-area-wrapper {
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  width: 100%;
  gap: 31px;
  position: relative;
  align-items: center;

  &__header {
    display: flex;
    justify-content: center;

    h1 {
      color: var(--primary-default);
      font:
        400 110px 'Tsarevich Old',
        sans-serif;
    }
  }

  &__single-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1020px;
  }

  &__content-wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 1600px;
    justify-content: space-between;

    &_monuments-wrapper {
      max-width: 1800px;
    }
  }

  &__creation-button {
    margin-left: 44px;
  }


  &__map-creation-button {
    position: absolute;
    right: 110px;
    top: -9px;
  }

  &__up-arrow {
    position: fixed;
    bottom: 50px;
    right: 10%;
    z-index: 10;

    &_down-mod {
      position: absolute;
      bottom: 0;
      right: 10%;
      z-index: 10;
    }
  }

  &__content-area {
    display: flex;
    flex-direction: column;
  }

  &__map-area {
    display: block;
    padding-left: 17px;
    position: relative;
  }

  &__post-area {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.main-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--text-oncolor-default);
  min-height: 100vh;
  position: relative;
}

.post-area-wrapper {
  max-width: 1020px;
  width: 70%;
}