.article-content-wrapper {
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  width: 100%;
  gap: 31px;
  position: relative;
  align-items: center;
  &__single-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1020px;
  }
}
.article-wrapper {
  display: flex;
  flex-direction: column;
  gap: 33px;
  width: 100%;
  &__header-area {
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__article-info {
    display: flex;
    gap: 30px;
    align-items: center;
    font: var(--text-caption);
  }

  &__article-info-wrapper {
    padding: 38px 63px 0 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-tags-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &_no-post-content {
    box-sizing: border-box;
    padding: 40px;
    justify-content: center;
    align-items: center;
  }

  &__publication-time {
    color: var(--border-accent);
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;

    & h2 {
      font: var(--text-header-4);
      overflow-wrap: break-word;
    }
  }

  &__description {
    font: var(--text-body-text);
    overflow-wrap: break-word;
  }

  &__main-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
  }

  &__image-area {
    width: 100%;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 482px;
  }
  &__content-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 75px;
    padding-right: 50px;
    gap: 31px;
    &_small-gap {
      gap: 22px;
    }
  }

  &__tag-wrapper {
    font: var(--text-for-tags);
  }
}

.post-area {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.post {
  display: flex;
  flex-direction: column;
  max-width: 1020px;
  width: 100%;

  background-color: var(--white-background-default);
  color: var(--primary-default);
  overflow: hidden;

  border-radius: 15px;

  gap: 48px;
}
.article {
  display: flex;
  flex-direction: column;
  max-width: 1020px;
  width: 100%;
  background-color: var(--white-background-default);
  color: var(--primary-default);
  overflow: hidden;

  border-radius: 15px;

  gap: 48px;

  &__mobile-tags {
    display: none;
    display: flex;
    width: 100%;
    column-gap: 14px;
    row-gap: 6px;
    flex-wrap: wrap;
  }

  &__article-info-wrapper {
    padding: 38px 63px 0 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 75px;
    padding-right: 50px;
    gap: 31px;
    &_small-gap {
      gap: 22px;
    }
  }
  &__header-area {
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__main-content {
    padding: 0 130px;
    display: flex;
    flex-direction: column;
    margin-bottom: 125px;
    width: 75%;
    white-space: pre-wrap;
    overflow-wrap: break-word;

    font: var(--text-body-text);

    & img {
      display: block;
      margin-top: 24px;
      margin-bottom: 24px;
      width: 100%;
      object-fit: contain;
    }
    & b {
      font: var(--text-body-bold-text);
    }
    & bf {
      font: var(--text-body-bold-text);
    }
    & c {
      font: var(--text-body-italic-text);
    }
    & cf {
      font: var(--text-body-italic-text);
    }
    & bc {
      font: var(--text-body-italic-bold-text);
    }
    & bcf {
      font: var(--text-body-italic-bold-text);
    }
  }
}

@media (max-width: 1500px) {
  .article-wrapper__edit-button {
    display: none;
  }
  .article__main-content {
    padding: 0 12%;
  }
}

@media (max-width: 1000px) {
  .article-wrapper {
    &__article-info-wrapper {
      padding: 20px 0 0 20px;
    }
    &__content-wrapper {
      padding: 0 24px 0 20px;
    }
  }
  .article-content-wrapper {
    padding: 0 20px;
    box-sizing: border-box;
  }
  .article__article-info-wrapper {
    padding: 20px 0 0 20px;
  }
  .article__content-wrapper {
    padding: 24px 0 0 20px;
  }
}

@media (max-width: 700px) {
  .article-wrapper {
    gap: 10px;
    &__header-area {
      display: none;
    }
    &__article-info {
      font: var(--text-mobile-caption);
    }

    &__header {
      & h2 {
        font: var(--text-mobile-header-4);
      }
    }
    &__description {
      font: var(--text-mobile-text-body);
    }
    &__main-content {
      gap: 14px;
    }
    &__content-wrapper {
      gap: 10px;
    }
    &__image {
      max-height: 161px;
    }
    &__header-tags-wrapper {
      display: none;
    }
    &_no-post-content {
      padding: 20px;
    }
  }
  .article-content-wrapper {
    margin: 0;
    padding: 0;
  }

  .article {
    background-color: inherit;
    padding: 15px 27px 0 27px;
    gap: 18px;
    &__article-info-wrapper {
      padding: 0;
    }
    &__content-wrapper {
      padding: 0;
    }
    &__main-content {
      padding: 0;
      width: 100%;
      font: var(--text-mobile-text-body);
      & img {
        margin-top: 18px;
        margin-bottom: 18px;
      }
    }
    &__header-area {
      font: var(--text-mobile-caption);
      max-width: 100px;
    }
    &__mobile-tags {
      display: flex;
      margin-top: 9px;
    }
    &__main-content {
      margin-bottom: 0;
    }
  }
  .article-wrapper__article-info {
    gap: 15px;
  }
}
