.step {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 34vw;
  width: 100%;
  gap: 50px;
  color: var(--text-default);


  &__info {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    width: 26%;
    z-index: 3;

    &__header {
      font: var(--text-header-2)
    }

    &__text {
      font: var(--text-body-text)
    }
  }

  &__img_1 {
    z-index: 2;
    width: 53%;
  }

  &__img_2 {
    z-index: 1;
    width: 47%;
  }

  &__img_3 {
    z-index: 2;
    width: 60%;
  }

  &__img_4 {
    z-index: 1;
    width: 49%;

    margin-top: -2%;
  }

  &__img_5 {
    z-index: 2;
    width: 50%;
  }

  &__img_6 {
    z-index: 1;
    width: 47%;
    margin-top: -2%;
  }
}

.big-number {
  font: var(--text-big-digit);
  width: 70px;
}