footer {
    margin-top: 165px;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 75px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    width: 79%;
    max-width: 1550px;
    flex-wrap: wrap;
    row-gap: 50px;
    font: var(--text-body-text);
    color: var(--primary-default);
    &__info-area {
        display: flex;
        flex-direction: column;
        gap: 18px;
        &_small-gap {
            gap: 8px;
        }
    }
    &__row-info-elements {
        display: flex;
        gap: 15px;
    }
}
