.footer {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 75px;
    padding-top: 75px;
    background-color: var(--background-default);

    color: var(--primary-default);
}

.footer_light {
    background-color: var(--background-subdued);
    color: var(--text-oncolor-default);
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    width: 79%;
    max-width: 1550px;
    flex-wrap: wrap;
    row-gap: 50px;
    font: var(--text-body-text);

    &__info-area {
        display: flex;
        flex-direction: column;
        gap: 18px;

        &_small-gap {
            gap: 8px;
        }
    }

    &__row-info-elements {
        display: flex;
        gap: 15px;
    }

    &__phone-text {
        font: var(--text-for-phone);
    }
}