.button {
  padding: 14px 30px;
  border-radius: 90px;

  display: flex;
  align-items: center;
  gap: 18px;

  background-color: var(--accent-default);
  color: var(--primary-default);

  font: var(--text-2-for-middle-button);

  cursor: pointer;

  &_transparent {
    border-color: var(--primary-default);
    background-color: inherit;
    color: var(--primary-default);
  }
  &_large_padding {
    padding: 7.5px 42px;
  }
  &_black {
    background-color: var(--primary-default);
    color: var(--text-oncolor-default);
  }

  & div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
