.button {
  padding: 14px 30px;
  border-radius: 90px;
  display: flex;
  align-items: center;
  gap: 18px;
  border: none;
  background-color: var(--accent-default);
  color: var(--primary-default);

  font: var(--text-2-for-middle-button);

  cursor: pointer;

  &_transparent {
    border: 1px solid var(--primary-default);
    background-color: inherit;
    color: var(--primary-default);
  }

  &_yellow {
    font: var(--text-body-bold-text);
  }

  &_large_padding {
    padding: 7.5px 42px;
  }

  &_BIG {
    padding: 25px 50px;
    font: var(--text-1-for-big-button);
  }

  &_black {
    background-color: var(--primary-default);
    color: var(--text-oncolor-default);
  }

  &_red-border {
    font: var(--text-description);
    border: 1px solid var(--border-accent-brown);
    background-color: inherit;
  }

  & div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_light-transparent {
    border: 1px solid var(--text-oncolor-default);
    background-color: inherit;
    color: var(--text-oncolor-default);
  }
}
