.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--text-oncolor-default);
  padding-top: 25px;
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
}

.main-header {
  margin-top: 75px;
  width: 90%;
  display: flex;
  justify-content: center;
  &__heading {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 1540px;
    & img {
      display: block;
      width: 100%;
    }
    & span {
      font: var(--text-header-1);
    }
  }
}

.about-us {
  display: flex;
  width: 100%;
  max-width: 2100px;
  padding-bottom: 136px;

  &__wrapper {
    padding-left: 8%;
    justify-content: space-between;
    display: flex;
    gap: 44px;
    min-height: 916px;
    box-sizing: border-box;
    width: 100%;
  }

  &__registration-wrapper {
    display: flex;
    align-items: flex-end;
    position: relative;
    padding: 70px 0 106px 0;
  }

  &__text-field-image {
    position: absolute;
    top: 70px;
    left: 58px;
  }

  &__button-wrapper {
    min-width: 397px;
  }

  &__img {
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    & div {
      width: 100%;
      min-width: 1200px;
      min-height: 917px;
    }
    & img {
      margin-left: 100px;
      margin-top: 100px;
      display: block;
      transform: rotate(-11deg);
    }
  }
}

.last-events {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 130px 0 146px 0;
  background-color: var(--background-subdued);

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  &__heading {
    font: var(--text-header-1);
    color: var(--text-oncolor-default);
    text-align: center;
  }
  &__events-block {
    display: flex;
    flex-direction: row;
    row-gap: 24px;
    column-gap: 30px;
    flex-wrap: wrap;
    max-width: 1420px;
  }
}

.event-card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 10px;
  background-color: var(--text-oncolor-default);
  padding: 50px 38px 30px 38px;
  align-items: flex-start;

  &__content-wrapper {
    min-height: 252px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--primary-default);
    width: 375px;
    overflow-wrap: break-word;

    & h2 {
      font: var(--text-header-4);
    }
    & span {
      font: var(--text-body-text);
      max-width: 350px;
    }
  }
  &__button-wrapper {
    display: block;
  }
}
.excavations {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 166px 0 85px 0;
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1518px;
    gap: 92px;
  }

  &__heading {
    font: var(--text-header-1);
    color: var(--primary-default);
  }
  &__map-area {
    display: flex;
    flex-direction: column;
    gap: 86px;
    align-items: flex-start;
  }
  &__map-wrapper {
    position: relative;
    svg {
      width: 100%;
    }
  }
  &__skeletos-area {
    position: absolute;
    right: 243px;
    top: -280px;
  }
  &__text-field {
    position: absolute;
    top: -201px;
    left: -130px;
  }

  &__selected-excavation {
    padding: 50px 60px 35px 38px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--background-subdued);
    border-radius: 10px;
    gap: 45px;
  }
  &__selected-excavation-header {
    font: var(--text-header-4);
    color: var(--text-oncolor-default);
    max-width: 311px;
    min-height: 111px;
    overflow-wrap: break-word;
  }
}

.last-events-mobile {
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 17px;
  &__heading {
    font: var(--text-mobile-header-2);
  }
  &__event-wrapper {
    position: relative;
  }
  &__swiper-button-left {
    z-index: 1;
    background-color: var(--text-oncolor-default);
    position: absolute;
    left: -31px;
    top: 45%;
  }
  &__swiper-button-right {
    background-color: var(--text-oncolor-default);
    z-index: 1;
    position: absolute;
    right: -31px;
    top: 45%;
  }
  &__swiper-stages {
    padding: 10px;
  }
}

.about-us-mobile {
  padding: 20px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  &__header-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--primary-default);
    & h1 {
      font: var(--text-mobile-header-1);
    }
    & p {
      font: var(--text-mobile-text-body);
    }
  }
  &__link-area {
    width: 100%;
    position: relative;
    min-height: 192px;
    display: flex;
    justify-content: flex-start;
    padding-top: 100px;
    box-sizing: border-box;
  }
  &__skelet-wrapper {
    position: absolute;
    right: 0px;
    top: 0px;
  }
}

.excavations-mobile {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px 20px;
  &__header {
    color: var(--primary-default);
    font: var(--text-mobile-header-2);
  }
  &__map-area {
    width: 100%;
    display: flex;
    align-items: flex-end;
    min-height: 512px;
    position: relative;
  }
  &__skelet {
    position: absolute;
    top: 0px;
  }
}

.image-swiper {
  display: flex;
  flex-direction: column;
  gap: 45px;
  justify-content: center;
  max-width: 1750px;
  margin-top: 70px;
  padding-bottom: 170px;
  width: 90%;
  &__heading {
    font: var(--text-header-1);
    color: var(--primary-default);
    text-align: center;
  }
  &__swiper {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 31px;
  }
  &__swiper-wrapper {
    display: flex;
    gap: 34px;
  }
  &__swiper-button-area {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__image-area {
    position: relative;
    overflow: hidden;
    max-width: 1540px;
    width: 80vw;
    display: flex;
    flex-direction: row;
  }
  &__image {
    user-select: none;
    width: 80vw;
    max-width: 1540px;
    display: block;
    position: relative;
    transition: none;
    height: 41vw;
    transform: translateX(-100%);
    max-height: 788px;
    & img {
      display: block;
      object-fit: cover;
      width: 80vw;
      max-width: 1540px;
      height: 41vw;
      max-height: 788px;
      object-position: center;
    }
    & div {
      position: absolute;
      bottom: 0;
      padding: 113px 0 32px 48px;
      box-sizing: border-box;
      width: 100%;
      background: linear-gradient(180deg, rgba(20, 4, 0, 0) 0%, #140400 100%);
      font: var(--text-image-description);
      color: var(--text-oncolor-default);
    }
    &_left-move {
      transition: all 0.5s ease;
      transform: translateX(0);
    }
    &_right-move {
      transition: all 0.5s ease;
      transform: translateX(-200%);
    }
  }
  &__swiper-stages {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: center;
    min-height: 30px;
  }
  &__dot {
    display: block;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    background-color: var(--background-bottom);
    transition: all 0.3s ease;
    &:hover {
      background-color: var(--background-hovered-search);
    }
    &_active {
      width: 25px;
      height: 25px;
      background-color: var(--background-hovered-search);
    }
  }
  &__swiper-button {
    padding: 14px 18px;
    border-radius: 50px;
    border: 1px solid var(--border-accent-brown);
    cursor: pointer;
  }
}

@media screen and (max-width: 1400px) {
  .last-events__events-block {
    justify-content: center;
  }
}

@media screen and (max-width: 1260px) {
  .main-wrapper {
    padding-top: 20px;
  }
  .about-us {
    &__img {
      display: none;
    }
  }

  .excavations {
    display: none;
  }
  .excavations-mobile {
    display: flex;
  }
}

@media screen and (max-width: 1000px) {
  .main-wrapper {
    padding-top: 20px;
  }
  .main-header {
    display: none;
  }
  .about-us {
    display: none;
  }
  .about-us-mobile {
    display: flex;
  }
  .last-events-mobile {
    display: flex;
  }
  .last-events {
    display: none;
  }
  .event-card {
    background-color: var(--background-subdued);
    padding: 22px;
    &__content-wrapper {
      min-height: 184px;
      width: 225px;
      color: var(--text-oncolor-default);
      & h2 {
        font: var(--text-mobile-text-body-bold);
      }
      & p {
        font: var(--text-mobile-text-search);
      }
    }
    &__button-wrapper {
      & a {
        border-color: var(--text-oncolor-default);
      }
      & path {
        stroke: var(--text-oncolor-default);
      }
    }
  }
  .image-swiper {
    &__swiper-wrapper {
      gap: 4px;
    }
    &__heading {
      font: var(--text-mobile-header-2);
    }
    &__image-area {
      min-width: 350px;
    }
    &__image {
      width: 100%;
      min-height: 193px;
      & img {
        min-width: 350px;
        min-height: 193px;
      }
      & div {
        font: var(--text-mobile-caption);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .image-swiper {
    &__swiper-wrapper {
      gap: 0;
      justify-content: center;
    }
    &__left {
      position: absolute;
      left: 5px;
      z-index: 1;
      background-color: var(--text-oncolor-default);
    }
    &__right {
      position: absolute;
      z-index: 1;
      right: 5px;
      background-color: var(--text-oncolor-default);
    }
  }
}
